# Configuration file for the housing crawler

# API endpoints for data scraping
agency_api:
  urls:
    all_estate_info: "https://data.hkp.com.hk/search/v1/estates"
    single_estate_info: "https://data.hkp.com.hk/info/v1/estates"
    estate_market_info: "https://data.hkp.com.hk/info/v1/market_stat"
    building_transactions: "https://data.hkp.com.hk/info/v1/transactions/buildings"
    legacy_building_transactions: "https://app2.hkp.com.hk/utx/tx_history.jsp"
    legacy_building_ids: "https://app2.hkp.com.hk/utx/index.jsp"
  headers:
    accept: "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
    accept_language: "zh-HK,zh;q=0.9,en-HK;q=0.8,en-US;q=0.7,en;q=0.6,zh-TW;q=0.5,zh-CN;q=0.4,ja;q=0.3"
    cache_control: "max-age=0"
    dnt: "1"
    priority: "u=0, i"
    sec_ch_ua: '"Google Chrome";v="141", "Not?A_Brand";v="8", "Chromium";v="141"'
    sec_ch_ua_mobile: "?0"
    sec_ch_ua_platform: '"macOS"'
    sec_fetch_dest: "document"
    sec_fetch_mode: "navigate"
    sec_fetch_site: "none"
    sec_fetch_user: "?1"
    upgrade_insecure_requests: "1"
    user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36"
  # Token: Set this to your actual token value
  cookies_token: ""

# Data storage settings
storage:
  root_path: "data/"
  databases:
    path: "database/"
    file_names:
      duckdb: "housing_crawler.duckdb"
      sqlite: "housing_crawler.sqlite"
    table_names:
      estate_info: "estate_info"

  files:
    path: "files/"
    outputs:
      transactions_json: "all_transactions.json"
      estate_info_json: "estate_info.json"
      estate_id_json: "estate_ids.json"
      building_id_json: "building_ids.json"
      building_info_json: "building_info.json"
      unit_transactions_json: "unit_transactions.json"
      legacy_transaction_csv: "transactions.csv"